<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
        <title>Error</title>
    </head>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{errorMessage}}
        </div>       
            {{>footer}}
    </body>
</html>